.hidden-file {
    visibility: hidden; 
    position: absolute;
    overflow: hidden; 
    width: 0px; 
    height:0px;
    border:none;
    margin:0; 
    padding:0
}

.show-uploader-updater{
    padding-bottom: 5px;
    span{
        color:#2f8633;
    }
    span:hover{
        cursor: pointer;
        color:#164d18;
    }
}