<form  [formGroup]="form" (ngSubmit)="OnSubmit()">
  <h1 mat-dialog-title>{{ data == undefined ? 'Registar documentacion' : 'Modificar documentacion'}}</h1>
  <div mat-dialog-content>
    <mat-form-field [appearance]="inputAppearance">
      <mat-label>Nombre del documento</mat-label>
      <input matInput type="text" formControlName="name" name="name">
      <mat-error *ngIf="MessageError('name')">
        {{ MessageError('name') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="inputAppearance">
      <mat-label>Cultivo</mat-label>
      <mat-select name="cropId" formControlName="cropId" [disabled]="editMode()"  (selectionChange)="true">
        <mat-option *ngFor="let cropV of crops" [disabled]="cropHasDocument(cropV)" [value]="cropV._id" >
          {{ cropV.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="MessageError('cropId')">
        {{ MessageError('cropId') }}
      </mat-error>
    </mat-form-field>
    <div class="show-uploader-updater" *ngIf=" editMode()">
      <span (click)="toggleUploadBox()">si desea sobre escribir el archivo existente, haga click acá</span>
    </div>
    <div class="uploader" *ngIf="reWriteDocument || !data">
      <app-upload-file [uploading]= "uploading" formControlName="document" ></app-upload-file>
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('document', 'required')">El documento es requerido</ng-container>
        <ng-container *ngIf="hasError('document', 'requiredFileType')">Solo se soporta formato pdf 🤡</ng-container>
      </div>
    </div>

    
  </div>
  <div mat-dialog-actions>
    <button *ngIf="data != undefined " class="gray modal-action-button" mat-button class="danger" type="button" (click)="delete()">
      <span>ELIMINAR</span>
    </button>
    <button mat-button class="gray" class="gray modal-action-button" mat-dialog-close type="button">
      <span>CANCELAR</span>
    </button>
    <button mat-button color="primary" class="gray modal-action-button" type="submit" [disabled]="form.invalid">
      <span>ACEPTAR</span>
    </button>
  </div>
</form>
