<form  [formGroup]="form" (ngSubmit)="OnSubmit()">
  <h1 mat-dialog-title>{{ data == undefined ? 'Registar clima' : 'Modificar clima'}}</h1>
  <div mat-dialog-content>
    <mat-form-field [appearance]="inputAppearance">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" name="name">
      <mat-error *ngIf="MessageError('name')">
        {{ MessageError('name') }}
      </mat-error>
    </mat-form-field>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button class="modal-action-button" mat-dialog-close type="button">
      <span>CANCELAR</span>
    </button>
    <button mat-button class="modal-action-button"  color="primary" type="submit" [disabled]="form.invalid">
      <span>ACEPTAR</span>
    </button>
  </div>
</form>
