<mat-card class="width-100">
  <mat-card-content>
    <div class="row ">
      <div class="col-12 col-sm-12 center-all">
        <h2 class="text-center">
          Restaurar Contraseña
        </h2>
      </div>
    </div>
  <form
  [formGroup]="form"
  (ngSubmit)="OnSubmit()">
    <div class="row ">
      <div class="col-12 col-sm-12">
        <mat-form-field [appearance]="inputAppearance"    color="primary" class="width-100">
          <mat-label>Correo electrónico</mat-label>
          <!-- <mat-icon matPrefix fontSet="fas" fontIcon="fa-envelope" class="primary icon-input"></mat-icon> -->
          <input matInput type="email" name="email" formControlName="email">
          <mat-error *ngIf="MessageError('email')">
            {{ MessageError('email') }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span class="primary bold cursor" [routerLink]="routeSignUp">
          Registrarme
        </span>
      </div>
      <div class="col-8 end-h">
        <span class="primary bold cursor" [routerLink]="routeSignIn">
          Ingresar
        </span>
      </div>
    </div>
    <div class="row margin-top-1">
      <div class="col-12 col-sm-12">
        <button mat-raised-button color="primary"   class="width-100">
          <span>
            ENVIAR
            <!-- <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt"></mat-icon>  -->
          </span>
        </button>
      </div>
    </div>
  </form>
  </mat-card-content>
</mat-card>

