<mat-drawer-container class="admin-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p [routerLink]="routeHome" class="link-primary cursor">Inicio</p>
    <p [routerLink]="routeCrop" class="link-primary cursor">Cultivos</p>
    <p [routerLink]="routeWeather" class="link-primary cursor">Climas</p>
    <p [routerLink]="routeStudy" class="link-primary cursor">Estudios</p>
    <p [routerLink]="routeSector" class="link-primary cursor">Sectores</p>
    <p [routerLink]="routeLocation" class="link-primary cursor">Localidades</p>
    <p [routerLink]="routeTexture" class="link-primary cursor">Texturas</p>
    <p [routerLink]="routeUser" class="link-primary cursor">Usuarios</p>
    <p [routerLink]="routeDocument" class="link-primary cursor">Documentacion</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">

      <mat-toolbar-row>
        <div matRipple class="center-all icon-toolbar cursor">
          <mat-icon mat-button  (click)="drawer.toggle()" class="white">menu</mat-icon>
        </div>
        <span class="white" >
          {{ nameApp }}
        </span>
        <span class="example-spacer"></span>
        <span class="white" >
          {{ myUser ?  myUser.name : 'User'}}
        </span>
        <div matRipple class="center-all icon-toolbar cursor">
          <mat-icon [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Example heart icon" class="white">more_vert</mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="DialogeFormUser()">
    <span>
      <mat-icon color="primary">account_circle</mat-icon>
      Mi cuenta
    </span>
  </button>
  <button mat-menu-item (click)="DialogeFormUser()">
    <span>
      <mat-icon color="primary">lock</mat-icon>
      Contraseña
    </span>
  </button>
  <button mat-menu-item (click)="Logout()">
    <span>
      <mat-icon color="primary">exit_to_app</mat-icon>
      Salir
    </span>
  </button>
</mat-menu>