<mat-drawer-container class="admin-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p [routerLink]="routeHome" class="link-primary cursor">Inicio</p>
    <p [routerLink]="routeCrop" class="link-primary cursor">Cultivos</p>
    <p [routerLink]="routeWeather" class="link-primary cursor">Climas</p>
    <p [routerLink]="routeStudy" class="link-primary cursor">Estudios</p>
    <p [routerLink]="routeSector" class="link-primary cursor">Sectores</p>
    <p [routerLink]="routeLocation" class="link-primary cursor">Localidades</p>
    <p [routerLink]="routeTexture" class="link-primary cursor">Texturas</p>
    <p [routerLink]="routeUser" class="link-primary cursor">Usuarios</p>

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">

      <mat-toolbar-row>
        <div matRipple class="center-all icon-toolbar cursor">
          <mat-icon mat-button  (click)="drawer.toggle()" class="white">menu</mat-icon>
        </div>
        <span class="white" >
          {{ nameApp }}
        </span>
        <span class="example-spacer"></span>
        <span class="white" >
          {{ User.name}}
        </span>
        <div matRipple class="center-all icon-toolbar cursor">
          <mat-icon [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Example heart icon" class="white">more_vert</mat-icon>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-admin">
      <div class="row">
        <div class="col-12 height-100">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
<mat-menu #menu="matMenu">
  <div mat-menu-item class="height-auto" matRipple  [matRippleDisabled]="true">
    <div class="row center-h margin-bt-1">
      <mat-icon class="avatar">account_circle</mat-icon>
      <!-- <img class="avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    </div>
    <div class="row center-h margin-bt-1  cursor">
      <span class="primary" matRipple>
        <!-- {{ User.name}} -->
        Mi cuenta
      </span>
    </div>
    <div class="row">
      <div class="col-6">
        <button mat-icon-button color="primary" class="cursor" matRipple>
          <mat-icon color="primary">lock</mat-icon>
          <!-- <span>Salir</span> -->
        </button>
      </div>
      <div class="col-6">
        <button mat-icon-button color="primary" class="cursor" (click)="Logout()" matRipple>
          <mat-icon color="primary">exit_to_app</mat-icon>
          <!-- <span>Salir</span> -->
        </button>
      </div>
    </div>
  </div>
</mat-menu>