<form  [formGroup]="form" (ngSubmit)="OnSubmit()">
  <h1 mat-dialog-title>{{ data == undefined ? 'Registar cultivo' : 'Modificar cultivo'}}</h1>
  <div mat-dialog-content>
    <mat-form-field [appearance]="inputAppearance">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" name="name">
      <mat-error *ngIf="MessageError('name')">
        {{ MessageError('name') }}
      </mat-error>
    </mat-form-field>
    
  </div>
  <div mat-dialog-actions class="">
    <div class="row width-100">
      <div class="col-xs-4">
        <!-- <button *ngIf="data != undefined " mat-button class="danger" type="button">
          <span>ELIMINAR</span>
        </button> -->
      </div>
      <div class="col-xs-8 end-h">
        <button mat-button class="gray" mat-dialog-close type="button">
          <span>CANCELAR</span>
        </button>
        <button mat-button color="primary" type="submit" [disabled]="form.invalid">
          <span>ACEPTAR</span>
        </button>
      </div>
    </div>
    
  </div>
</form>
