<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <div  class="toolbar-left-container">
      <div class="toolbar-toggle">
        <mat-icon mat-button
         matRipple
         matRippleRadius="50"
          (click)="snav.toggle()">
          menu
        </mat-icon>
      </div>
      <div class="toolbar-title">
        <span>
          {{ nameApp }}
        </span>
      </div>
    </div>
    <div  class="toolbar-right-container">
      <div class="user-title">
        <span>
          {{ myUser ?  myUser.name : 'User'}}
        </span>
      </div>
      <div class="user-profile">
        <mat-icon matRipple [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Example heart icon">account_circle</mat-icon>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>

        <div class="nav-item" mat-list-item [routerLink]="routeHome">
          <div class="nav-item-icon">
            <mat-icon matRipple>home</mat-icon>
          </div>
          <div class="nav-item-text">
            <span>Inicio</span>
          </div>
        </div>

        <div class="nav-item" mat-list-item [routerLink]="routeStudy">
          <div class="nav-item-icon">
            <mat-icon matRipple>assignment</mat-icon>
          </div>
          <div class="nav-item-text">
            <span>Mis Estudios</span>
          </div>
        </div>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="DialogeFormUser()">
    <span>
      <mat-icon color="primary">account_circle</mat-icon>
      Mi cuenta
    </span>
  </button>
  <button mat-menu-item (click)="DialogeFormPassword()">
    <span>
      <mat-icon color="primary">lock</mat-icon>
      Contraseña
    </span>
  </button>
  <button mat-menu-item (click)="Logout()">
    <span>
      <mat-icon color="primary">exit_to_app</mat-icon>
      Salir
    </span>
  </button>
</mat-menu>

