<mat-card class="width-100">
  <mat-card-content>
    <div class="row">
      <div class="col-12 center-all">
        <img src="../../../../assets/img/logo.png" alt="LOGO" class="width-10r">
      </div>
    </div>
    <div class="row ">
      <div class="col-12 col-xs-12 center-all">
        <mat-label class="title-lobby" >
          Cambiar Contraseña
        </mat-label>
      </div>
    </div>
  <form
  [formGroup]="form"
  (ngSubmit)="OnSubmit()">
    <div class="row ">
      <div class="col-12 col-xs-12">
        <mat-form-field [appearance]="inputAppearance"  color="primary" class="width-100">
          <mat-label>Contraseña</mat-label>
          <!-- <mat-icon matPrefix fontSet="fas" fontIcon="fa-lock" class="primary icon-input"></mat-icon> -->
          <input matInput [type]="!visibility ? 'password' : 'text'" name="password" formControlName="password">
          <mat-icon
            matSuffix
            class="cursor contrast"
            (click)="ChangeVisibility()"
          >
            {{ !visibility ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="MessageError('password')">
            {{ MessageError('password') }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 col-xs-12">
        <mat-form-field [appearance]="inputAppearance" color="primary" class="width-100">
          <mat-label>Confirmar</mat-label>
          <!-- <mat-icon matPrefix fontSet="fas" fontIcon="fa-lock" class="primary icon-input"></mat-icon> -->
          <input matInput [type]="!visibilityConfirm ? 'password' : 'text'" name="confirm" formControlName="confirm">
          <mat-icon
            matSuffix
            class="cursor contrast"
            (click)="ChangeVisibilityConfirm()"
          >
            {{ !visibilityConfirm ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error *ngIf="MessageError('confirm')">
            {{ MessageError('confirm') }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row margin-top-1">
      <div class="col-12 col-xs-12">
        <button mat-raised-button color="primary" type="submit" class="width-100" [disabled]="ValidForm()">
          <span class="white">
            ENVIAR
            <!-- <mat-icon fontSet="fas" fontIcon="fa-sign-in-alt"></mat-icon>  -->
          </span>
        </button>
      </div>
    </div>
  </form>
  </mat-card-content>
</mat-card>

