$primary: (
  50 : #e0f2f1,
  100 : #b3e0db,
  200 : #80cbc4,
  300 : #4db6ac,
  400 : #26a69a,
  500 : #009688,
  600 : #008e80,
  700 : #008375,
  800 : #00796b,
  900 : #006858,
  A100 : #97ffec,
  A200 : #64ffe3,
  A400 : #31ffda,
  A700 : #18ffd5,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);



$pego: (
    50 : #fefdfc,
    100 : #fcfbf8,
    200 : #fbf9f3,
    300 : #f9f6ee,
    400 : #f7f4eb,
    500 : #f6f2e7,
    600 : #f5f0e4,
    700 : #f3eee0,
    800 : #f2ecdd,
    900 : #efe8d7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$pego-back: (
  50 : #fcfbf8,
  100 : #f8f5ee,
  200 : #f4efe3,
  300 : #efe8d8,
  400 : #ebe3cf,
  500 : #e8dec7,
  600 : #e5dac1,
  700 : #e2d5ba,
  800 : #ded1b3,
  900 : #d8c8a6,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$danger: (
    50 : #fee8e7,
    100 : #fcc7c3,
    200 : #faa19b,
    300 : #f77b72,
    400 : #f65f54,
    500 : #f44336,
    600 : #f33d30,
    700 : #f13429,
    800 : #ef2c22,
    900 : #ec1e16,
    A100 : #ffffff,
    A200 : #ffe9e9,
    A400 : #ffb8b6,
    A700 : #ff9f9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$success: (
    50 : #eaf5ea,
    100 : #c9e7cb,
    200 : #a6d7a8,
    300 : #82c785,
    400 : #67bb6a,
    500 : #4caf50,
    600 : #45a849,
    700 : #3c9f40,
    800 : #339637,
    900 : #248627,
    A100 : #c5ffc7,
    A200 : #92ff95,
    A400 : #5fff64,
    A700 : #46ff4b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warning: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #ff9000,
    700 : #ff8500,
    800 : #ff7b00,
    900 : #ff6a00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$info: (
    50 : #e0f7fa,
    100 : #b3ebf2,
    200 : #80deea,
    300 : #4dd0e1,
    400 : #26c6da,
    500 : #00bcd4,
    600 : #00b6cf,
    700 : #00adc9,
    800 : #00a5c3,
    900 : #0097b9,
    A100 : #e2f9ff,
    A200 : #afeeff,
    A400 : #7ce3ff,
    A700 : #63ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$gray: (
    50 : #f4f4f4,
    100 : #e3e3e3,
    200 : #d0d1d1,
    300 : #bdbebf,
    400 : #afb0b1,
    500 : #a1a2a3,
    600 : #999a9b,
    700 : #8f9091,
    800 : #858688,
    900 : #747577,
    A100 : #fbfcff,
    A200 : #cddcfa,
    A400 : #95b8ff,
    A700 : #7ba7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
